# 依赖包
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# 构建输出
dist/
build/icon.ico

# 敏感信息
tokens_keys/
*.token

# 配置文件
setting.json

# 操作系统文件
.DS_Store
Thumbs.db

# IDE 文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 日志文件
logs/
*.log